/* generale */
body{
  font-family: 'Open Sans', sans-serif ;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* generale */

/*header-top: logo con barra di navigazione   */
.header-top{
  line-height: 80px;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: white;
}
.header-top img{
  width:100px;
  height: 16px;
}
.one li{
  padding: 0px 25px;
}
.top-list li{
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
}
.login{
  background-color: black;
  color: white;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 15px;
  }
.eng{
  border-left: solid black 0.5px;
  border-right: solid black 0.5px;
  padding: 0px 8px;
  font-weight: 400;
}
.hamburger{
  text-align: right;
}
/*header-top: logo con barra di navigazione   */

/* header-bottom: immagine di sfondo con titolo centrale  */
.header-bottom{
  height: 800px;
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 80px;
  margin-top: 80px;
  position: relative;
}
.text{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
h1{
  font-size: 60px;
}
.header-bottom .col-lg-12{
  color: white;
  text-align: center;
}
.header-bottom img{
  width: 250px;
  padding-right: 50px;
}

/* header-bottom: immagine di sfondo con titolo centrale  */
/* prima sezione del main-monopattino e bici */
.main-top{
  margin-top: 10rem;
}
#helbizgo{
  width: 240px;
  height: 30px;
}
#bici{
  width: 500px;
  height: 500px;
  position: relative;
  right: 50px;
}
.main-top-rl{
  text-align: center;
  line-height: 50px;
  font-size: 23px;
}
.main-top-right{
  margin-right: 30px;
  background-color: rgb(249,249,249);
  padding: 50px;
}
.main-top-left{
  background-color: rgb(249,249,249);
  margin-left: 30px;
  padding: 50px;
}
/* prima sezione del main-monopattino e bici */


/* seconda sezione-parte centrale del main */
.main-center{
  background-image: url(../img/smartphone.png);
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
}
